#page-nav {
    margin-left: 20px;
}
#camera-menu, #filter-menu, #filtering { list-style: none; }
#camera-menu a, #filter-menu a {
    font-weight: bold;
    text-decoration: none;
    display: block;
}
#camera-menu a:hover, #filter-menu a:hover {
    color: #222222;
}
#camera-menu li, #filter-menu li, #filtering li {
    padding: 15px;
    border-bottom: 1px solid deepskyblue;
    margin-bottom: 0px;
}
.video-row {
    border-bottom: 1px solid deepskyblue;
    padding-top: 10px;
}
.image-row {
    border-bottom: 1px solid deepskyblue;
    padding-top: 10px;
}
.identity {
    padding-bottom: 15px;
    border-bottom: 1px solid deepskyblue;
}
.identity-name {
    padding-top: 15px;
}
#usrimg {
    display: block;
}
#log-out {
    display: block;
}
.g-signin2 {
    margin-bottom: 10px;
}
#video-container {
    z-index: 10;
    width: 980px;
    height: 585px;
    margin: 0 auto;
    background: #f7f7f7;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -490px;
    margin-top: -280px;
    border: 1px solid deepskyblue;
}
#image-container {
    z-index: 10;
    width: 980px;
    height: 585px;
    margin: 0 auto;
    background: #f7f7f7;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -490px;
    margin-top: -280px;
    border: 1px solid deepskyblue;
}
.video-embed {
    height: 540px;
    width: 960px;
    margin-left: 10px;
    margin-top: 10px;
}
.image-embed {
    height: 540px;
    width: 960px;
    margin-left: 10px;
    margin-top: 10px;
}
.video-control {
     display: block;
     text-align: center;
     vertical-align: top;
     color: black;
     font-weight: bolder;
     cursor: pointer;
}
a.image-control {
    display: block;
    text-align: center;
    vertical-align: top;
    color: black;
    font-weight: bolder;
}

#options-container {
    float: right;
    text-align: right;
}

.opt-checkbox {
    margin-left: 10px;
    width: 16px;
    height: 16px;
}

#page-opts a {
    font-weight: bold;
    text-decoration: none;
    display: block;
}
#page-opts a:hover {
    color: #222222;
}
#page-opts div {
    margin: 15px;
    border-bottom: 1px solid deepskyblue;
}
.video-info {
    width: 50%;
}
#image-labels {
    text-align: center;
}

/* For devices smaller than 960px */
@media (max-width: 960px) {
    .video-embed {
        width: 710px;
        height: 399px;
        margin-left: 10px;}
    #video-container {
        width: 730px;
        height: 444px;
        margin-left: -365px;
        margin-top: -209px;
    }
    .image-embed {
        width: 710px;
        height: 399px;
        margin-left: 10px;}
    #image-container {
        width: 730px;
        height: 444px;
        margin-left: -365px;
        margin-top: -209px;
    }
}

/* For devices smaller than 740px */
@media (max-width: 740px) {
    .video-embed {
        width: 510px;
        height: 287px;
        margin-left: 10px;
        margin-top: 10px;}
    #video-container {
        width: 530px;
        height: 332px;
        margin-left: -265px;
        margin-top: -153px;
    }
    .image-embed {
        width: 510px;
        height: 287px;
        margin-left: 10px;
        margin-top: 10px;}
    #image-container {
        width: 530px;
        height: 332px;
        margin-left: -265px;
        margin-top: -153px;
    }
}

/* For devices smaller than 480px */
@media (max-width: 480px) {
    .video-embed {
        width: 240px;
        height: 135px;
        margin-left: 10px;}
    #video-container {
        width: 260px;
        height: 180px;
        margin-left: -130px;
        margin-top: -77px;
    }
    .image-embed {
        width: 240px;
        height: 135px;
        margin-left: 10px;}
    #image-container {
        width: 260px;
        height: 180px;
        margin-left: -130px;
        margin-top: -77px;
    }
    .identity-name {
        font-size: small;
    }
}